@import url("../vendors/node_modules/normalize.css/normalize.css");
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  overflow-x: none;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "hd"
    "main"
    "ft";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 180%;
  margin: 30px auto;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 120%;
}

header {
  grid-area: hd;
}

main {
  grid-area: main;
}

footer {
  grid-area: ft;
}

header,
footer {
  background-color: #34495e;
  /*#2c3e50;*/
  color: #fff;
}
